.usage-invalid.tui-term{
 color:red !important;
}
#tui{
 position:relative;
 font-size:90%;
 line-height:150%;
}
#tui-tree-container, #tui-form-noform{
 padding:15px;
 border:solid 1px #eee;
 margin:5px;
 text-align:justify;
 color:black;
 background-color:white;
}

/* TITLE OF FORM */
#tui-name-editing{
 float:right;
 margin-right:7px;
}

/* LINK BOX */
#tui-link-box{
 position:absolute;
 display:none;
 border:solid 1px #999;
 background-color:white;
 color:black;
 text-align:left;
}
#tui-link-box p{
 margin:5px !important;
}
#tui-link-box textarea{
 width:400px;
 height:50px;
 font-size:80%;
}

/* TREE */
#tui-tree-resize{
 position:absolute;
 top:0;
 right:0;
}
#tui-tree{ 
 width:40%;
}
#tui-tree{  
 float:left;
}
#tui-tree-container{
 padding:0;
 position:relative;
}
#tui-tree ul, #tui-tree li, #tui-tree-links p, #tui-tree li p{
 padding:0;
 margin:0;
}
#tui-tree li{
 padding-left:10px;
 background:none;
 list-style-type:none;
 overflow:hidden;
}
.tui-nodeleaf{
 width:9px;
 height:9px;
 margin:3px 7px 3px 3px;
 line-height:100%;
 padding:0;
 display:inline;
 background-repeat:no-repeat;
 background-position:50% 50%;
}
.tui-node-closed:hover, .tui-node-open:hover{
  cursor:pointer; 
}
.tui-node-closed{
 background-image: url('images/plus.gif');
}
.tui-leaf{
 background-image: url('images/leaf.gif');
}
.tui-node-open{
 background-image: url('images/minus.gif');
}
.tui-term:hover{
 cursor:move;
}
.tui-term.active.loading{
 padding-right:30px;
 background-image:url('images/loader.gif');
 background-repeat:no-repeat;
 background-position: 100% 50%;
}
.tui-term.active, .tui-added{
 background-color:#ffffea !important;
 border: solid 1px #999;
 padding:0;
}
.tui-added-original .tui-term{
 text-decoration:underline;
 padding:0;
}
.ui-draggable-dragging{
 display:none;
}



/* TREE LINKS */
#tui-tree-links{
 text-align:right;
 border-bottom:solid 1px #eee;
 padding-top:3px;
}
#tui-tree-links #dialog{
 display:none;
}
.ui-dialog{
 border:solid 1px #999 !important;
 font-size:90% !important;
}


/* SEARCH */
#tui-search-form-container{
 display:none;
}
.tui-form{
 border:solid 1px #999;
 padding:3px;
 margin:0;
 background-color:white;
 color:black;
 position:absolute;
 top:20px;
 right:20px;
 z-index:1000;
}
#edit-tui-search-input-wrapper{
 display:inline;
}
#edit-tui-search-input-button{
 border:none;
 background-repeat:no-repeat;
 backgrond-position:50% 50%;
 background-image:url('images/find.png');
 width:20px !important;
 margin:0 !important;
 padding:0 !important;
 background-color:white;
 color:white;
}
#tui-search-form, #tui-search-form .form-item, #tui-search-form .form-submit{
 padding:0 !important;
 margin:0 !important;
}
.tui-form #autocomplete{
 font-size:90%;
 width:500px !important;
 text-align:left;
 background-color:white;
 color:black;
 z-index:1000;
}
.tui-modal{
 z-index:100;
 top:0;
 left:0;
 width:100%;
 height:100%;
 padding:0;
 margin:0;
 bottom:0;
 right:0;
 position:fixed;
}


/* DIALOG */
#dialog p{
 font-size:150%;
 line-height:120%;
 padding:10px;
}
.ui-dialog-content{
 padding:0 !important;
 margin:0 !important;
}
#tui-dialog-term-name{
 padding-left:20px;
 font-weight:700;
}
.ui-dialog-overlay{
 background-color: black; 
 opacity: 0.2;
}


/* FORM */
.tui-hide-tabs{
 display:none;
}
.tui-parent-message{
 background-color:#e0ffe0 !important;
 padding:3px !important;
 margin:0 !important;
}
.tui-parent-message p{
 padding:0;
 margin:0;
}
#tui-form textarea, #tui-form select{
 font-size:90%;
}
#tui-form{
 width:60%;
}
#tui-form{
 float:right;
}
#tui-form-container{
 margin:5px;
 padding:0;
}
#tui-form .form-text, #tui-form .resizable-textarea, #tui-form select{
 width: 95% !important;
}
#tui-form textarea{
 width:100%
}
#tui-form .hidden{
 display:none;
}
.ui-tabs-panel{
 padding:0 !important;
}
.ui-tabs-panel > fieldset > legend{
 display:none;
}
.ui-tabs-panel > fieldset{
 margin:0;
 border:none;
}
.ui-tabs-panel fieldset{
 background:inherit;
}
.ui-tabs-nav li a{
 padding: 0.5em !important;
 font-size: 80% !important;
}
.ui-tabs-panel > fieldset, #tui-tree-container, #tui-form-noform, .tui-form, #tui-link-box{
 -moz-box-shadow: 2px 2px 2px #999;
 -webkit-box-shadow: 2px 2px 2px #999;
 box-shadow: 2px 2px 2px #999;
}